
input {
    width: 100%;
    max-width: 44rem;
    background-color: $dark-grey;
    padding-left: 2.4rem;
    padding-bottom: 1.7rem;
    margin-bottom: 3rem;
    border: 0;
    border-bottom: 1px solid $white-color;
    font-size: 1.2rem;
    color: $white-color;
}

#message__input {
    padding: 0 3rem 8rem 2.4rem;
}
form {
    flex-direction: column;
}

.left {
    margin-left: 30rem;
    margin-top: 3.2rem;
}