.header__container {
    margin-top: 4rem;
    margin-bottom: 13rem;
    display: flex;
    justify-content: space-between;
}
.sitelogo {

    &__img {
        width: 18rem;
        height: 3.2rem;
    }
}

.social {

    &__link {
        margin-right: 2rem;
    }
}

@media screen and (max-width:770px) {
    body {
        background-position: left -26rem top 10rem;
    }
    
}