*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    height: 100%;
}

img {
    display: flex;
    object-fit: contain; /* contain */
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,ol {
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
h3 {
    font-size: $h3-fs;
    line-height: $h3-lh;
    color: #fff;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Space Grotesk';
    background-color: $black-color;
    background-image: url(../images/svg/wave.svg), url(../images/svg/wave.svg);
    background-repeat: no-repeat;
    background-position: left -7rem top 14rem, right -23rem top 112rem;
}

.container {
    width: 100%;
    max-width: 1210px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5rem; 
    padding-right: 5rem;
}

