$black-color: #151515;
$green-color: #4EE1A0;
$dark-grey: #242424;
$grey:#D9D9D9;
$white-color: #fff;

$h1-fs: 8.8rem;
$h1-lh: 1;

$h2-fs: 4.8rem;
$h2-lh: 1.1;

$h3-fs: 2.4rem;
$h3-lh: 1.3;

$text-fs: 1.8rem;
$text-lh: 1.5;